manifest {
    author = 'Andreas Bremges'
    description = 'TreeHugger: Phylogenetic assignment and tree inference using defined marker gene sets'
    homePage = 'https://github.com/abremges/TreeHugger'
}

// https://www.nextflow.io/docs/latest/conda.html
profiles {
    conda {
        predict.conda = 'prodigal'
        search.conda = 'hmmsearch'
        extract.conda = 'seqkit'
        align.conda = 'muscle'
        concat.conda = 'seqkit'
        trim.conda = 'trimal'
        build.conda = 'fasttree'
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        predict.container = 'biocontainers/prodigal'
    }
}
