manifest {
    author = 'Andreas Bremges'
    name = 'TreeHugger'
    description = 'Phylogenetic assignment and tree inference using defined marker gene sets'

    homePage = 'https://github.com/abremges/TreeHugger'
    nextflowVersion = '>=19.01'
    mainScript = 'treehugger.nf'
    version = '0.3.1'
}

profiles {
    conda {
        process.conda = 'conda.yaml'
    }

    docker {
        process.container = 'abremges/treehugger'
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}
