manifest {
    author = 'Andreas Bremges'
    description = 'TreeHugger: Phylogenetic assignment and tree inference using defined marker gene sets'
    homePage = 'https://github.com/abremges/TreeHugger'
}

profiles {
    conda {
        process.conda = 'treehugger.yaml'
    }

    docker {
        process.container = 'abremges/treehugger'
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}
